/* *-wszystkie elementy */
*{
   margin:0;
   padding:0;
}

.hidden{
   display:none;
}

/* HEADER ==============================*/

.header-main{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 340px;
background-color: #353535;
background-image: url(img/rakieta2.png);
background-repeat: no-repeat;
background-position:left bottom;
/* Nie wolno!!-słaba jakość... */
background-size: 365px;
}
/* bax-sizing:border-box
-padding nie zwiększa rozmiaru, nic się nie przesuwa */


/* OFFERS ==============================*/

.offers{
   display:flex;
   justify-content: space-evenly;
   background-color: #17171A;
   flex-wrap: wrap;
}

.offers-single{
margin:20px;
width: 256px;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
}

.offers-single img{
   width: 200px;
   margin-bottom: 20px;
}

.offers-single h3{
   font-family: 'Roboto', sans-serif;
   /* wyświetl Roboto, jak nie ma to sans-serif */
   font-weight: 500;
   color:#fff;
   font-size: 18px;
   text-transform: uppercase;
   margin-bottom: 10px;
   text-align: center;
}

.offers-single p{
   font-family: sans-serif;
   font-weight: normal;
   color: #fff;
   font-size: 14px;
   text-align: center;
   margin-bottom: 10px;
}

.offers-single a{
   background-color: #F1B26F;
   color: #17171A;
   text-decoration: none;
   padding: 10px 16px;
   /* góra, dół  , prawo,lewo */
   font-family: sans-serif;
   font-weight: bold;
   border-radius: 6px;
   text-transform: uppercase;
   transition: .3s;
   font-size: 13px;
}

/* jak najedziemy myszką */
.offers-single a:hover{
background-color: #fff;
}

/* NAVIGACJA ==============================*/

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   background-color: #fff;
   /* ----------!------
   overflow: hidden-dzieci nie wystaja z rodzica */
}

.navbar a{
text-decoration: none;
height: 80px;
}

.navbar a img{
   height: 80px;
}

.navbar ul{
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
}